

<p class="show-text"><span>Title:</span> <%= @book.title %></p>

<p class="show-text"><span>Body:</span> <%= @book.body %></p>


<%= link_to "Edit", edit_book_path(@book.id) %>
|
<a href="/books">Back</a>